@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap");
body {
  background: rgb(255, 250, 244);
  margin: 0;
  padding: 0;
  font-family: "KoHo", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.gold-txt {
  color: rgb(184, 135, 79);
}

.light-txt {
  color: #808080;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h6 {
  font-size: 1rem;
}

.fw-vl {
  font-weight: 200;
}

.fw-l {
  font-weight: 300;
}

.fw-r {
  font-weight: 400;
}

.fw-b {
  font-weight: 500;
}

.fw-black {
  font-weight: 600;
}

.page-title {
  text-align: center;
  margin: 10px;
}

a {
  cursor: pointer;
}

.bg-primary {
  background-color: red;
}

.accordion-button {
  background-color: rgb(255, 250, 244);
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.accordion-button:not(.collapsed) {
  background-color: rgb(248, 238, 226);
  color: #000;
  outline: none;
}

.topbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px 10px;
  z-index: 10000;
  background-color: rgb(184, 135, 79);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  height: 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.topbar div {
  position: relative;
}
.topbar div.start {
  display: flex;
  gap: 30px;
  align-items: center;
}
.topbar .end {
  position: relative;
}
.topbar .end i {
  cursor: pointer;
  color: rgb(248, 238, 226);
  font-size: 1.5rem;
}
.topbar .end .user-menu {
  position: absolute;
  top: 100px;
  right: 0px;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
.topbar .end .user-menu.active {
  top: 55px;
  visibility: visible;
  opacity: 1;
}
.topbar .end .user-menu h6 span {
  font-size: 0.875rem;
  color: #cecece;
  font-weight: 300;
}
.topbar .end .user-menu ul {
  padding-left: 0;
}
.topbar .end .user-menu ul li {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.topbar .end .user-menu ul li i {
  font-size: 1rem;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}
.topbar .end .user-menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}
.topbar .end .user-menu ul li:hover i {
  opacity: 1;
}
.topbar .end .user-menu ul li:hover a {
  color: #ff5d94;
}

.sidebar {
  bottom: 0;
  height: calc(100% - 80px);
  display: flex;
  position: fixed;
  padding: 30px 0px;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-between;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1000;
}
.sidebar.open {
  width: 100px;
  left: 0px;
  overflow: visible;
}
.sidebar.close {
  width: 0px;
  left: -100px;
}
.sidebar .menu {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.sidebar .sections {
  text-align: center;
}
.sidebar .sections h6 {
  width: 100%;
  overflow-x: none;
  white-space: nowrap;
}
.sidebar .sections img {
  width: 70px;
  padding: 10px;
  aspect-ratio: 1;
  border-radius: 100%;
  object-fit: contain;
  transition: 0.2s all;
  box-sizing: border-box;
  background: rgb(248, 238, 226);
  box-shadow: 1px 1px 10px rgba(184, 135, 79, 0.5);
}
.sidebar .sections img:hover {
  background-color: rgb(238, 220, 200);
  box-shadow: 1px 1px 10px rgba(184, 135, 79, 0.3);
}
.sidebar .role-change {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.sidebar .role-change .title {
  margin-left: 5px;
  color: #cecece;
  font-weight: 700;
  font-size: 0.75rem;
}
.sidebar .role-change .role-menu {
  position: absolute;
  height: fit-content;
  bottom: -10px;
  left: 110px;
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
.sidebar .role-change .role-menu.active {
  bottom: 0px;
  visibility: visible;
  opacity: 1;
}
.sidebar .role-change .role-menu h6 span {
  font-size: 0.875rem;
  color: #cecece;
  font-weight: 300;
}
.sidebar .role-change .role-menu ul {
  padding-left: 0;
}
.sidebar .role-change .role-menu ul li {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.sidebar .role-change .role-menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.5s;
}
.sidebar .role-change .role-menu ul li:hover i {
  opacity: 1;
}
.sidebar .role-change .role-menu ul li:hover a {
  color: #ff5d94;
}
.sidebar .role-change .role-menu ul li:last-child {
  border-bottom: none;
}

.tab-content {
  width: 100%;
  position: relative;
  padding: 15px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border-top-left-radius: 0;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.tab-item {
  overflow-y: scroll;
  transition: all 2s;
  position: absolute;
  top: 50%;
  width: 90%;
  opacity: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}
.tab-item.hide {
  transition: all 1s;
  opacity: 0;
}

.tile {
  display: flex;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #FFE1DD;
  justify-content: space-between;
}
.tile h5 {
  font-size: 0.75rem;
}
.tile h6 {
  font-size: 0.75rem;
}

.detailTile {
  padding: 20px;
}

.noScroll {
  overflow: hidden;
}

.scrollX {
  overflow-x: scroll;
}

.scrollY {
  overflow-y: scroll;
}

.input-search {
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 20px;
  background-color: lightgrey;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1.25rem;
}

tr:hover {
  cursor: pointer;
  background-color: #E6D4C0;
}

.dashboard {
  gap: 20px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
  .dashboard {
    overflow: hidden;
    padding: 25px;
  }
}
.dashboard .dashboard-card {
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(238, 220, 200);
}

.graphs {
  padding: 50px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .graphs {
    padding: 25px;
  }
  .graphs img {
    width: 100%;
  }
}

.list-data .filters {
  display: flex;
  gap: 10px;
}
.list-data .filters .filter-btns {
  display: flex;
}
.list-data .filters .filter-btns button {
  font-size: 0.75rem;
}
.list-data .filters .input-search {
  font-size: 0.75rem;
  width: 100%;
}

thead {
  background-color: rgb(238, 220, 200);
}

.modal {
  overflow: hidden;
  width: fit-content;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 1;
  transition: all 3s;
}
.modal-content {
  border-radius: 30px;
  background-color: #fff;
}
.modal-header {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  justify-content: center;
  background-color: rgb(238, 220, 200);
  color: rgb(184, 135, 79);
  font-size: 2rem;
  font-weight: 500;
}
.modal-body {
  max-height: 800px;
  overflow: scroll;
}
.modal-footer {
  flex-wrap: nowrap;
  gap: 20px;
}
.modal-footer .btn-group {
  display: flex;
  gap: 5px;
}
.modal .loan-details-content {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  width: 1000px;
  max-height: 80vh;
  overflow-y: scroll;
  row-gap: 20px;
  column-gap: 50px;
}
.modal .modal-body-form {
  border-radius: 20px;
  background-color: #fff;
  gap: 10px;
  display: flex;
  padding: 50px 150px;
  position: relative;
  max-height: 80vh;
  flex-direction: column;
}
.modal .modal-body-form .form-title {
  text-align: center;
  margin-bottom: 20px;
}
.modal .modal-body-form input {
  background-color: rgb(255, 250, 244);
  border: 2px solid rgb(238, 220, 200);
  color: rgb(184, 135, 79);
}
.modal .modal-body-form input::placeholder {
  color: #beb9b9;
}
.modal .modal-body-form input[type=submit] {
  color: #fff;
  background-color: rgb(184, 135, 79);
}
@media screen and (max-width: 1000px) {
  .modal {
    width: 100%;
    max-width: 600px;
  }
  .modal .modal-body-form {
    padding: 0;
  }
  .modal .modal-body-form input,
  .modal .modal-body-form textarea {
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;
  }
  .modal .loan-details-content {
    padding: 0;
    border-radius: 0;
    max-height: 500px;
    width: 100%;
    gap: 10px;
  }
  .modal .loan-details-content h5 {
    font-size: 1rem;
  }
  .modal .loan-details-content td,
  .modal .loan-details-content th {
    font-size: 1rem;
  }
  .modal-footer {
    flex-direction: column;
    gap: 5px;
  }
  .modal-footer .btn-group {
    width: 100%;
  }
  .modal-footer .btn-group button {
    width: 100%;
  }
}
@media screen and (max-width: 786px) {
  .modal {
    max-width: 80%;
  }
}

#loan-edit-modal {
  z-index: 1000000;
}

.hideModal {
  display: none;
}

.partnerCard {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 350px;
  text-align: center;
  border-radius: 20px;
}
.partnerCard img {
  width: 100%;
}
.partnerCard div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 10px;
}

input {
  width: 300px;
  border: none;
  padding: 20px;
  outline: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.5rem;
}
input::placeholder {
  color: #B8874F;
}
input[type=submit] {
  width: 100%;
  color: #B8874F;
  border-radius: 30px;
  background: #E6D4C0;
  box-shadow: 10px 10px 10px rgba(209, 188, 164, 0.5), -10px -10px 10px rgba(255, 255, 255, 0.5);
}
input.border-dark {
  border: 3px solid rgb(184, 135, 79) !important;
}
input.small {
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px 5px;
}

.width100 {
  width: 100%;
}

.img-btn {
  height: 60px;
  aspect-ratio: 1;
  border-radius: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  border: 2px solid rgb(238, 220, 200);
}

.floating-btn {
  width: 75px;
  z-index: 100;
  border: none;
  outline: none;
  color: #fff;
  display: flex;
  font-size: 2rem;
  position: fixed;
  aspect-ratio: 1/1;
  align-items: center;
  border-radius: 100%;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgb(184, 135, 79);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.add-btn {
  bottom: 20px;
  right: 20px;
}

.close-modal-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #f09b9b;
  color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.role-change-btn {
  width: 100%;
  background-color: rgb(238, 220, 200);
  outline: none;
  border: none;
  padding: 10px;
  font-weight: 700;
  font-size: 0.75rem;
}

.animatedMenuIcon {
  width: 25px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}
.animatedMenuIcon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgb(248, 238, 226);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.animatedMenuIcon span:nth-child(1) {
  top: 0px;
}
.animatedMenuIcon span:nth-child(2), .animatedMenuIcon span:nth-child(3) {
  top: 7px;
}
.animatedMenuIcon span:nth-child(4) {
  top: 14px;
}
.animatedMenuIcon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}
.animatedMenuIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.animatedMenuIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.animatedMenuIcon.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}
@media screen and (max-width: 1000px) {
  .animatedMenuIcon {
    display: block;
  }
}

.tab-btn {
  width: 150px;
  background-color: rgb(184, 135, 79);
  text-align: center;
  align-items: center;
  height: 50px;
  outline: none;
  border: none;
  transition: 0.5s;
  font-size: 1rem;
}
.tab-btn:first-child {
  border-top-left-radius: 15px;
}
.tab-btn:last-child {
  border-top-right-radius: 15px;
}
.tab-btn:hover {
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.1), 4px 4px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(184, 135, 79, 0.8);
  font-size: 1.1rem;
}
.tab-btn:focus {
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.1), 4px 4px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(184, 135, 79, 0.6);
  font-size: 1.1rem;
}

.download-btn {
  background-color: rgb(238, 220, 200);
  border-radius: 5px;
  width: 100%;
}
.download-btn:hover {
  background-color: rgb(184, 135, 79);
}
.grid2x {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gc-span-1 {
  grid-column: span 1;
}

.gr-span-1 {
  grid-row: span 1;
}

@media screen and (max-width: 1000px) {
  .gr-span-m-1 {
    grid-row: span 1;
  }
  .gc-span-m-1 {
    grid-column: span 1;
  }
}
.gc-span-2 {
  grid-column: span 2;
}

.gr-span-2 {
  grid-row: span 2;
}

@media screen and (max-width: 1000px) {
  .gr-span-m-2 {
    grid-row: span 2;
  }
  .gc-span-m-2 {
    grid-column: span 2;
  }
}
.gc-span-3 {
  grid-column: span 3;
}

.gr-span-3 {
  grid-row: span 3;
}

@media screen and (max-width: 1000px) {
  .gr-span-m-3 {
    grid-row: span 3;
  }
  .gc-span-m-3 {
    grid-column: span 3;
  }
}
.gc-span-4 {
  grid-column: span 4;
}

.gr-span-4 {
  grid-row: span 4;
}

@media screen and (max-width: 1000px) {
  .gr-span-m-4 {
    grid-row: span 4;
  }
  .gc-span-m-4 {
    grid-column: span 4;
  }
}
.gc-span-5 {
  grid-column: span 5;
}

.gr-span-5 {
  grid-row: span 5;
}

@media screen and (max-width: 1000px) {
  .gr-span-m-5 {
    grid-row: span 5;
  }
  .gc-span-m-5 {
    grid-column: span 5;
  }
}
.gc-span-6 {
  grid-column: span 6;
}

.gr-span-6 {
  grid-row: span 6;
}

@media screen and (max-width: 1000px) {
  .gr-span-m-6 {
    grid-row: span 6;
  }
  .gc-span-m-6 {
    grid-column: span 6;
  }
}
.error {
  font-size: 12px !important;
}

* {
  box-sizing: border-box;
}

html.modal-active,
body.modal-active {
  overflow: hidden;
}

.modal-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 10000;
}
.modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.modal-animation-two {
  transform: scale(1);
}
.modal-container.modal-animation-two .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.modal-animation-two .modal-background .modal {
  opacity: 0;
  animation: scaleUp 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.modal-animation-two + .content {
  animation: scaleBack 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.modal-animation-two.out {
  animation: quickScaleDown 0s 1s linear forwards;
}
.modal-container.modal-animation-two.out .modal-background {
  animation: fadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.modal-animation-two.out .modal-background .modal {
  animation: scaleDown 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.modal-animation-two.out + .content {
  animation: scaleForward 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.three {
  z-index: 0;
  transform: scale(1);
}
.modal-container.three .modal-background {
  background: rgba(0, 0, 0, 0.6);
}
.modal-container.three .modal-background .modal {
  animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.three + .content {
  z-index: 1;
  animation: slideUpLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.three.out .modal-background .modal {
  animation: moveDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.three.out + .content {
  animation: slideDownLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.four {
  z-index: 0;
  transform: scale(1);
}
.modal-container.four .modal-background {
  background: rgba(0, 0, 0, 0.7);
}
.modal-container.four .modal-background .modal {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.four + .content {
  z-index: 1;
  animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.four.out .modal-background .modal {
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.four.out + .content {
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.five {
  transform: scale(1);
}
.modal-container.five .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.five .modal-background .modal {
  transform: translateX(-1500px);
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.five.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
.modal-container.five.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.five.out .modal-background .modal {
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.six {
  transform: scale(1);
}
.modal-container.six .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.six .modal-background .modal {
  background-color: transparent;
  animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.six .modal-background .modal h2,
.modal-container.six .modal-background .modal p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.six .modal-background .modal .modal-svg rect {
  animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.six.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
.modal-container.six.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.six.out .modal-background .modal {
  animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.six.out .modal-background .modal h2,
.modal-container.six.out .modal-background .modal p {
  animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.six.out .modal-background .modal .modal-svg rect {
  animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.seven {
  transform: scale(1);
}
.modal-container.seven .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.seven .modal-background .modal {
  height: 75px;
  width: 75px;
  border-radius: 75px;
  overflow: hidden;
  animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.seven .modal-background .modal h2,
.modal-container.seven .modal-background .modal p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1.4s linear forwards;
}
.modal-container.seven.out {
  animation: slowFade 0.5s 1.5s linear forwards;
}
.modal-container.seven.out .modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeToRed 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.seven.out .modal-background .modal {
  border-radius: 3px;
  height: 162px;
  width: 227px;
  animation: killShot 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.seven.out .modal-background .modal h2,
.modal-container.seven.out .modal-background .modal p {
  animation: modalContentFadeOut 0.5s 0.5 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container .modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
.modal-container .modal-background .modal {
  display: flex;
  font-weight: 300;
  position: relative;
}
.modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
.modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
.modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.content {
  min-height: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes slideUpLarge {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slideDownLarge {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(150px);
  }
}
@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
@keyframes bondJamesBond {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(0px);
    border-radius: 75px;
    height: 75px;
    width: 75px;
  }
  90% {
    border-radius: 3px;
    height: 182px;
    width: 247px;
  }
  100% {
    border-radius: 3px;
    height: 162px;
    width: 227px;
  }
}
@keyframes killShot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fadeToRed {
  0% {
    background-color: rgba(0, 0, 0, 0.6);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.8);
  }
}
@keyframes slowFade {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
body,
div,
input,
button {
  box-sizing: border-box;
}

.main {
  margin-top: 100px;
}
@media screen and (min-width: 1000px) {
  .main {
    margin-left: 100px;
  }
}

.FullScreenBG {
  display: flex;
  height: 100vh;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}

.CardDiv {
  gap: 30px;
  display: flex;
  padding: 50px;
  max-width: 80%;
  max-height: 570px;
  border-radius: 15px;
  align-items: center;
  height: fit-content;
  box-sizing: border-box;
  flex-direction: column;
  background: rgba(230, 212, 192, 0.2);
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.5), 10px 10px 20px rgba(209, 188, 164, 0.5);
}
.CardDiv {
  padding: 100px;
  max-width: none;
  max-height: none;
}
.CardDiv form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.CardDiv input {
  border: none;
  width: 300px;
  padding: 20px;
  outline: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.5rem;
}
.CardDiv input::placeholder {
  color: #B8874F;
}
.CardDiv input[type=submit] {
  width: 100%;
  color: #B8874F;
  border-radius: 30px;
  background: #E6D4C0;
  box-shadow: 10px 10px 10px rgba(209, 188, 164, 0.5), -10px -10px 10px rgba(255, 255, 255, 0.5);
}

.dashboard-poster {
  margin: 30px;
  height: 400px;
  padding: 50px;
  position: relative;
  transition: 0.5s all;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .dashboard-poster {
    padding: 10px;
    height: fit-content;
  }
  .dashboard-poster > h3 {
    margin-bottom: 10px;
  }
}
.dashboard-poster img.transparent-right {
  height: 275px;
  max-height: 50%;
  aspect-ratio: 1;
  object-fit: contain;
  opacity: 0.2;
  position: absolute;
  right: 10px;
  top: 10px;
}
@media screen and (max-width: 1000px) {
  .dashboard-poster img.transparent-right {
    display: none;
  }
}
.dashboard-poster .home-dash-items {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .dashboard-poster .home-dash-items {
    height: 250px;
  }
}
.dashboard-poster .dashboard {
  width: 500px;
  padding: 20px 0;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
  .dashboard-poster .dashboard {
    overflow: hidden;
    padding: 0px;
    width: 100%;
  }
}
.dashboard-poster .dashboard h4 {
  font-size: 1rem;
}
.dashboard-poster .graphs {
  box-sizing: border-box;
  display: block;
}
@media screen and (max-width: 1000px) {
  .dashboard-poster .graphs {
    display: none;
  }
}

.dashboard-poster:hover {
  box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.3);
}

.detailsTab {
  gap: 20px;
  display: grid;
  padding: 10px;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 80px);
}
@media screen and (max-width: 1000px) {
  .detailsTab {
    width: 100%;
    height: auto;
    grid-template-rows: 1fr 1fr 2fr;
  }
}
.detailsTab .filters {
  gap: 20px;
  display: flex;
  justify-content: space-between;
}
.detailsTab .filters .filter-btns {
  font-size: 0;
}
.detailsTab .filters button {
  height: 100%;
  margin: 0;
  border-radius: 0;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
.detailsTab .filters .selected {
  background-color: rgb(238, 220, 200);
}
.detailsTab .tiles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
}
.detailsTab .details .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.detailsTab .table {
  display: block;
}
.detailsTab .history {
  display: none;
}
@media only screen and (max-width: 768px) {
  .detailsTab .history {
    display: block;
  }
  .detailsTab .table {
    display: none;
  }
}

.detailsTab > div {
  padding: 15px;
  border-radius: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.detailsTab > div .title {
  text-align: center;
}

.detail-tile h6 {
  color: #808080;
}

/*# sourceMappingURL=style.css.map */
